body{
    background-color: rgb(143, 30, 30);
}
#clock{
    color: rgb(185, 156, 156);
    font-size: 195px;
    background-color: rgb(78, 20, 20);
    padding: .5em;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#banner {
    color: rgb(14, 4, 4);
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
    background-color: rgb(143, 30, 30);
    padding: .0.5em;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}